<!DOCTYPE html/>
<html>
 <head>
 	<!-- Media query for narrow browser width -->
<link rel="stylesheet" media="only screen and (max-width: 480px)" href="styles/mobile.css" />

<!-- Media query for smartphones -->
<link rel="stylesheet" media="only screen and (max-device-width: 568px)" href="styles/mobile.css" />


<!-- Media query for medium browser width -->
<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="styles/tablet.css" />

<!-- Media query for tablets -->
<link rel="stylesheet" media="only screen and (min-device-width : 768px) and (max-device-width : 1024px)" href="styles/tablet.css" />

<!-- Media query for full browser width -->
<link rel="stylesheet" media="only screen and (min-width: 961px)" href="styles/desktop.css" />

<!-- Prevents smartphones from scaling pages down -->
<meta name="viewport" content="initial-scale=1">
  <title>80's music sucks</title>
 </head>
 <link rel="stylesheet" type="text/css" href="styles/desktop.css">
 <body id="bod">
  <div id="eight">
  <h1 id="heading">Why was there such bad music made in the 1980's?</h1>
  </div>
  <div id="support">
  	<a href="support.html"><h1>Show your support Against 80's music!</h1></a>
  	<br>
  	<hr><br><hr>
  	<a href="history.html"><h1>People have been hating on 80's music for mad long! Get educated on the history!</h1></a>
  </div>
  <div id="list">
  	<ul>
  		<a href="http://en.wikipedia.org/wiki/1980s" target="_blank"><li>Crap Culture</li></a>
  		<a href="http://en.wikipedia.org/wiki/Ronald_Reagan" target="_blank"><li>Ronald Reagan</li></a>
  		<a href="http://en.wikipedia.org/wiki/Glam_metal" target="_blank"><li>Hair Metal</li></a>
  		<a href="http://en.wikipedia.org/wiki/Spotify" target="_blank"><li>No Spotify</li></a>
  		<a href="http://en.wikipedia.org/wiki/Food" target="_blank"><li>Bad Chao</li></a>
  		<a href="http://www.musicradar.com/us/news/tech/10-synths-that-defined-the-80s-213447" target="_blank"><li>Technological Advances</li></a>
  		<li>Take On Me Was Still Dope</li>
  		<iframe width="420" height="315" src="http://www.youtube.com/embed/djV11Xbc914" frameborder="0" allowfullscreen></iframe>
  	</ul>
  </div>
 </body>
</html
