<!DOCTYPE html>
<html>
<body id="join">
	<a href="index.html">Back To The Homepage</a>
	<link rel="stylesheet" type="text/css" href="styles/desktop.css">
	<title>History</title>
	<div>
	<h1>The act of hating 80's music dates back as far as the early 80's.</h1>
	<p><h3>From the second the first mediocre song was dropped in the 80's, there have been folks who just hate 80's music.</h3></p>
	</div>
</body>
</html>