<!DOCTYPE html>
<html>
<body id="join">
	<a href="index.html">Back To The Homepage</a>
	<link rel="stylesheet" type="text/css" href="styles/desktop.css">
	<title>Join Us</title>
	<div>
	<h1>Join us at one of our rallies, where we parade the streets and protest! Hey, it's our right to protest after all! :-]</h1>
	</div>
	<link rel="stylesheet" type="text/css" href="styles/desktop.css">
	<div id="wrapper">
		<h1>What We Do At Anti-80's Music Rallies</h1>
	<div class="whatwedo">
		<ul>
			<li>Eat Chips</li>
			<li>Listen to 90's music</li>
			<li>Listen to 70's music</li>
			<li>21st century</li>
		</ul>
	</div>
	<div class="whatwedo">
		<ul>
			<li>Play Ball</li>
			<li>Watch the game</li>
			<li>Watch Netflix</li>
			<li>Eat Pizza</li>
		</ul>
	</div>
</div>
</body>
</html>